body {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('newbg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(.5px);
}

.header {
    text-align: center;
    color: #fff;
    font-weight: 800;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;

}



.text {
    text-align: center;
    color: #fff;
    font-weight: 800;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Playfair Display', serif;
    font-size: 65px;
    margin-top: 225px;
}
    

.iconContainer{
    margin-top: 20px;
    display: flex;
    justify-content: center !important;
}
.icons{
    height: 50px;
    margin-right: 10px;
    
}


#aboutme {
    background-color: white;
}

.bio {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    margin-top: 30px;
    font-size: 25px;
    background-color: white;

}



#proj {
    color: white;
    text-align: center
}


.projects{
    background-color: #a19e9d;
    margin-top: 300px;
    padding: 20px;
}


.form-group {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#contact {
    color: white;
    text-align: center;
    margin-top: 30px
}

.formtext {
    color: white;
}

#btn2 {
    display: block;
  max-width: 300px;
  margin: auto;
  border-radius: 15px;
}

#signature {
    margin-left: 30px;
}


/* bounce arrow animation */

.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 0.5s infinite linear;
    colr:000;
  }
  .fa-chevron-down{
      color: #fff;
    font-size: 30px;
    margin: 20px;
  }
  @-webkit-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-moz-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-o-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-ms-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }